<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SeleniumGrid" verbose="4" thread-count="10" parallel="tests">

	<test name="Linux+Firefox Test">
		<parameter name="platform" value="Linux" />
		<parameter name="browser" value="firefox" />
		<parameter name="version" value="49.0" />
		<parameter name="url" value="http://duckduckgo.com" />
		<classes>
			<class name="org.example.seleniumgrid.SearchUsingGridTest" />
		</classes>
	</test>

	<test name="Linux+Chrome Test">
		<parameter name="platform" value="Linux" />
		<parameter name="browser" value="chrome" />
		<parameter name="version" value="54" />
		<parameter name="url" value="http://duckduckgo.com" />
		<classes>
			<class name="org.example.seleniumgrid.SearchUsingGridTest" />
		</classes>
	</test>

		<!-- <test name="Windows+IE10 Test"> -->
		<!-- <parameter name="platform" value="Windows" /> -->
		<!-- <parameter name="browser" value="internet explorer" /> -->
		<!-- <parameter name="version" value="10" /> -->
		<!-- <parameter name="url" value="http://duckduckgo.com" /> -->
		<!-- <classes> -->
		<!-- <class name="org.example.seleniumgrid.SearchUsingGridTest" /> -->
		<!-- </classes> -->
		<!-- </test> -->

		<!-- <test name="Mac+Safari Test"> -->
		<!-- <parameter name="platform" value="Mac" /> -->
		<!-- <parameter name="browser" value="safari" /> -->
		<!-- <parameter name="version" value="9" /> -->
		<!-- <parameter name="url" value="http://duckduckgo.com" /> -->
		<!-- <classes> -->
		<!-- <class name="org.example.seleniumgrid.SearchUsingGridTest" /> -->
		<!-- </classes> -->
		<!-- </test> -->

		<!-- <test name="Windows+Chrome Test"> -->
		<!-- <parameter name="platform" value="Windows" /> -->
		<!-- <parameter name="browser" value="chrome" /> -->
		<!-- <parameter name="version" value="35" /> -->
		<!-- <parameter name="url" value="http://duckduckgo.com" /> -->
		<!-- <classes> -->
		<!-- <class name="org.example.seleniumgrid.SearchUsingGridTest" /> -->
		<!-- </classes> -->
		<!-- </test> -->
</suite>